/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

/* Header */
header {
  background-color: #f55;
  text-align: center;
  padding: 15px 0;
  position: sticky;
}
header h1 {
  color: white;
}

/* Section Title */
.section-title {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
}

/* Menu Table Layout */
.menu-table {
  display: grid;
  grid-template-columns: 1fr 2fr 0.5fr;
  background: #fff;
}

/* Left Column (Categories) */
.menu-category {
  background: #ffeedd;
  padding: 20px;
  
}
.menu-category p {
  margin: 40px 0;
  font-weight: bold;
  text-align: center;
}

/* Middle Column (Items) */
.menu-items {
  padding: 20px;
}
.item {
  display: flex;
  align-items: center;
  margin: 20px 0;
}
.item img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

/* Right Column (Prices) */
.menu-price {
  background: #ffeedd;
  padding: 20px;
  text-align: center;
}
.menu-price p {
  margin: 40px 0;
  font-weight: bold;
}

/* Footer */
footer {
  background: #333;
  color: white;
  text-align: center;
  padding: 15px;
  margin-top: 20px;
  opacity: 0.8;
}











/*Mine*/
.menu-section{
    margin: 40px;
    border: 1px  black;
    box-shadow: 0 0 1px 1px;
    height: 75vh;
     overflow: hidden;
   
}
ul{
    display: flex;
    list-style: none;
    background-color: rgb(59, 54, 54);
    justify-content: center;
    gap: 15px;
    
}
ul a{
    color: white;
    text-decoration: none;
}